<p style="color: green"><%= notice %></p>

<h1>Posts</h1>


<%= turbo_frame_tag "cats-list" do %>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="like">
        <%= link_to "like","posts/#{post.id}/like" ,data: { turbo_method: :post  }  %>
        <%= post.like %> 
      </div>
      <%= render "post", post: post %>
    <% end %>
  </div>

<% end %>


<%= link_to "New post", new_post_path %>
