<!DOCTYPE html>
<html>
  <head>
    <title>Imgbbs2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <script src="https://kit.fontawesome.com/df93f07d48.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
